In [1]:
import pandas as pd

In [2]:
ATT_FILE = "OceanProximityPreparedCleanAttributes.csv"
LABEL_FILE = "OceanProximityOneHotEncodedClasses.csv"
#LABEL_FILE = str(input("Name of the label file: "))

In [3]:
TRAIN_RATE = 0.8
attributes = pd.read_csv(ATT_FILE)
label = pd.read_csv(LABEL_FILE)
attributes.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,0.420319,-0.662062,-0.647059,-0.697391,-0.587523,-0.820567,-0.619142,-0.696390,-0.607420
1,0.430279,-0.980871,-0.019608,-0.917849,-0.913718,-0.846296,-0.918106,-0.581275,-0.783502
2,0.262948,-0.725824,-0.137255,-0.944860,-0.917132,-0.953922,-0.918106,-0.729521,-0.156288
3,-0.446215,-0.056323,-0.490196,-0.734015,-0.746741,-0.852518,-0.737543,-0.383415,0.091958
4,-0.392430,0.164718,-0.411765,-0.861895,-0.807573,-0.812775,-0.788851,-0.717604,-0.623503

In [4]:
label.head()

   <1H OCEAN  INLAND  NEAR BAY  NEAR OCEAN
0        0.0     1.0       0.0         0.0
1        0.0     0.0       0.0         1.0
2        1.0     0.0       0.0         0.0
3        0.0     1.0       0.0         0.0
4        0.0     1.0       0.0         0.0

In [5]:
attributes.shape

(20428, 9)

In [6]:
label.shape

(20428, 4)

In [8]:
n_instances = attributes.shape[0]
n_train = int(n_instances*TRAIN_RATE)
n_dev = int((n_instances-n_train)/2)
n_test = n_instances-n_train-n_dev

In [9]:
n_train

16342

In [10]:
x_train = attributes.values[:n_train]
t_train = label.values[:n_train]

In [11]:
x_train[:5]

array([[ 0.42031873, -0.66206164, -0.64705882, -0.69739051, -0.58752328,
        -0.82056672, -0.61914159, -0.69639039, -0.60742018],
       [ 0.43027888, -0.98087141, -0.01960784, -0.91784933, -0.91371819,
        -0.84629614, -0.91810557, -0.58127474, -0.78350192],
       [ 0.26294821, -0.72582359, -0.1372549 , -0.94485986, -0.91713222,
        -0.95392248, -0.91810557, -0.72952097, -0.15628802],
       [-0.44621514, -0.05632306, -0.49019608, -0.73401495, -0.74674115,
        -0.85251829, -0.73754317, -0.3834154 ,  0.09195838],
       [-0.39243028,  0.16471838, -0.41176471, -0.86189532, -0.80757294,
        -0.81277502, -0.78885052, -0.7176039 , -0.62350258]])

In [12]:
x_dev = attributes.values[n_train:n_train+n_dev]
t_dev = label.values[n_train:n_train+n_dev]
x_dev[:2]

array([[-0.07171315, -0.10733262, -0.1372549 , -0.89343303, -0.88081937,
        -0.94910171, -0.86712712, -0.58443332, -0.56041006],
       [-0.4123506 , -0.18384697,  0.49019608, -0.88371738, -0.83612663,
        -0.91894392, -0.86548265, -0.60979849, -0.27587515]])

In [13]:
x_test = attributes.values[n_train+n_dev:n_instances]
t_test = label.values[n_train+n_dev:n_instances]