In [1]:
import pandas as pd

In [2]:
ATT_FILE = "OceanProximityPreparedCleanAttributes.csv"
LABEL_FILE = str(input("Name of the label file: "))

Name of the label file: OceanProximityOneHotEncodedClasses.csv

In [3]:
TRAIN_RATE = 0.8
attributes = pd.read_csv(ATT_FILE)
label = pd.read_csv(LABEL_FILE)
attributes.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,0.420319,-0.662062,-0.647059,-0.697391,-0.587523,-0.820567,-0.619142,-0.696390,-0.607420
1,0.430279,-0.980871,-0.019608,-0.917849,-0.913718,-0.846296,-0.918106,-0.581275,-0.783502
2,0.262948,-0.725824,-0.137255,-0.944860,-0.917132,-0.953922,-0.918106,-0.729521,-0.156288
3,-0.446215,-0.056323,-0.490196,-0.734015,-0.746741,-0.852518,-0.737543,-0.383415,0.091958
4,-0.392430,0.164718,-0.411765,-0.861895,-0.807573,-0.812775,-0.788851,-0.717604,-0.623503

label.head()